body {
  font-family: 'Roboto';
  text-align: center;
}

.heading {
  font-size: xx-large;
  text-align: center;
  margin: 30px;
}

button {
  margin-top: 10px;
  font-size: larger;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.form .form-group {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
}

.form button {
  width: 10vw;
  margin: 15px;
  background-color: rgb(83, 83, 83);
  color: white;
}